<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prodiuts</title>
</head>
<body>
<h1>Liste des produits</h1>

<ul>
    {% for product in products %}
        <li>{{ product }}</li>
    {% endfor %}
</ul>

<h2>Résultat de dump du tableau de produits</h2>
{{ dump(products) }}
</body>
</html>

